<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StartSession</servlet-name>
        <servlet-class>ac.za.tut.web.StartSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndSession</servlet-name>
        <servlet-class>ac.za.tut.web.EndSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartGuessingGame</servlet-name>
        <servlet-class>ac.za.tut.web.StartGuessingGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RandomNumbersInterface</servlet-name>
        <servlet-class>ac.za.tut.model.bl.RandomNumbersInterface</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckGuesses</servlet-name>
        <servlet-class>ac.za.tut.web.CheckGuesses</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartSession</servlet-name>
        <url-pattern>/StartSession.do</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.IllegalArgumentException</exception-type>
        <location>/username_error.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>EndSession</servlet-name>
        <url-pattern>/EndSession.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartGuessingGame</servlet-name>
        <url-pattern>/StartGuessingGame.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RandomNumbersInterface</servlet-name>
        <url-pattern>/RandomNumbersInterface</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckGuesses</servlet-name>
        <url-pattern>/CheckGuesses.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>computer</param-name>
        <param-value>Siri</param-value>
    </context-param>
</web-app>
