<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CheckNameAndSurname</servlet-name>
        <servlet-class>ac.za.tut.web.CheckNameAndSurname</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValideStudentAndIDNumber</servlet-name>
        <servlet-class>ac.za.tut.web.ValideStudentAndIDNumber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateShortMessages</servlet-name>
        <servlet-class>ac.za.tut.web.ValidateShortMessages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValiditeNumbers</servlet-name>
        <servlet-class>ac.za.tut.web.ValiditeNumbers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckNameAndSurname</servlet-name>
        <url-pattern>/CheckNameAndSurname.do</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/file_not_found_error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/internal_server_error.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>ValideStudentAndIDNumber</servlet-name>
        <url-pattern>/ValideStudentAndIDNumber.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateShortMessages</servlet-name>
        <url-pattern>/ValidateShortMessages.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValiditeNumbers</servlet-name>
        <url-pattern>/ValiditeNumbers.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
